@model List<proiect.Models.ApplicationUser>

<h2>Your Friends</h2>

@if (!Model.Any())
{
    <p>You don't have any friends yet.</p>
}
else
{
    <ul class="list-group">
        @foreach (var friend in Model)
        {
            <li class="list-group-item d-flex justify-content-between">
                <span>@friend.DisplayName</span>
                <a asp-controller="Profile" asp-action="ViewProfile" asp-route-id="@friend.Id" class="btn btn-outline-primary btn-sm">View Profile</a>
            </li>
        }
    </ul>
}