@{
    ViewData["Title"] = "Home";
}

<div class="text-center py-5">
    <h1 class="display-4 fw-bold mb-4">Welcome to SimsTagram</h1>

    <div class="d-flex justify-content-center">
        <img src="~/images/homepage.jpg" class="img-fluid rounded-4 shadow" alt="Welcome Image" style="max-width: 600px;" />
    </div>
</div>